html
    body
        p Dear customer!
        p This is your report by
        p Period: #{data.item.period}
        p Metric: #{metricName}
        p Transaction category: #{data.item.category.name}
        p Base currency: #{data.item.baseCurrency.name}
        p Report:
        p !{chart}